<section class="banner small"></section>
<img class="cover-img" {{bind-attr src="url"}}>
<h2 class="title">{{title}} <span class="date">({{date}})</span></h2>
<span class="genrez">{{view.genreString}}</span>
<p class="description">{{description}}</p>
<h4 class="tags">Tags: {{view.tagString}}</h4>
<h4 class="tags">Cast: {{view.castString}}</h4>
<div class="btns">
  <button class="trailer">Watch Trailer</button>
  <button class="torrent">Download Torrent</button>
</div>
